/*
This is how you comment in CSS
*/

body {
  font-family: "Lucida Sans Unicode", "Palatino Linotype", Arial, sans-serif;
  background-color: #ffe6f7;
  width: 100%;
	margin: 0 auto 0 auto;
	align-content: center;
	max-width: 1200px;
	text-align: center;
	content: center;
}
h1 {
  font-size: 30px;
  background-color: #ffcccc;
  padding: 10px 20px;
  text-align: center;
}
#main {
  background color: #ffe6ff;
  width: 100%;
  float: left;
}
#container {
  background-color: #ffe6f7;
  width: 100%;
  margin: 0 auto;
}

#nav {
  list-style: none;
  text-align: center;
  font-size: 20px;
  font-family: Arial, sans-serif;
  padding: 10px 10px 30px 10px;
  margin: 0px;
  float: left;
  width: 100%;
}

#nav li {
  display: inline;
  padding: 0px;
  margin: 0px;
}

#nav a:link, #nav a:visited {
	font-weight: bold;
	text-align: center;
  text-decoration: none;
	padding: 5px 40px;
	display: inline;
	width: 100%;
}

#nav a:hover, #nav a:active {
	background-color: none;
  color: #fff;
}

#sidebar {
  float:right;
  width: 40%;
  padding-right: 10px;
  border-left: 1px solid #ccc;
}

#footer{
  clear:both;
  background-color: #ffcccc;
  color: #fff;
}

p {
  color: #837490;
  font-family: Helvetica, Arial, sans-serif;
}

.photo{
  width: 50%;
  	max-width:400px;
  	height:auto;
  	padding:0 auto;
  	position:relative;
}
